@import url('https://fonts.googleapis.com/css?family=Poppins:100,300,400,500,700,900');

:root {
  font-family: 'Poppins', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --primary-color: #473636;
  --secondary-color: #2B542B;
  --tertiary-color: #AD5F3E;

  --alt-primary-color: #E60039;

  --text-color: rgba(255, 255, 255, 0.3);

  --background-color: #242424;
  --color-highlight: #535bf2;

  --alt-color: rgba(50, 36, 36, 0.6);
  --alt-background-color: #b09f9f;
  --alt-color-highlight: #aba30c;

  color-scheme: light dark;
  color: var(--text-color);
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.hidden {
  display: none;
}

.invisible {
  visibility: hidden;
}

a {
  font-weight: 500;
  color: var(--text-color);
  text-decoration: inherit;
}
a:hover {
  color: var(--color-highlight);
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 2.8em;
  line-height: 1.1;
}

button {
  border-radius: 0.5rem;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--background-color);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--tertiary-color);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--alt-color);
    background-color: var(--alt-background-color);
  }
  a:hover {
    color: var(--alt-color);
  }
  button {
    background-color: var(--alt-background-color);
  }
}
